<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/mainlayout">
<body>
	<div layout:fragment="content">	
        <div class="col-md-3">
            <div class="row" style="padding-right: 5px;">
            <div class="panel panel-default">
                <div class="panel-heading">区域</div>
                <div class="panel-body">
                    <p>0-1</p>
                </div>            
            </div>
            </div>
        </div> 
        
        <div class="col-md-3">
            <div class="row" style="padding-right: 5px;">
            <div class="panel panel-default">
                <div class="panel-heading">区域</div>
                <div class="panel-body">
                    <p>0-2</p>
                </div>            
            </div>
            </div>
        </div> 
        
        <div class="col-md-3">
            <div class="row" style="padding-right: 5px;">
            <div class="panel panel-default">
                <div class="panel-heading">区域</div>
                <div class="panel-body">
                    <p>0-3</p>
                </div>            
            </div>
            </div>
        </div> 
        
        <div class="col-md-3">
            <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">区域</div>
                <div class="panel-body">
                    <p>0-4</p>
                </div>            
            </div>
            </div>
        </div>         
        	
        <div class="col-md-9">
            <div class="row" style="padding-right: 5px;">
            <div class="panel panel-default">
                <div class="panel-heading">区域</div>
                <div class="panel-body">
                    <p>1-1</p>
                </div>            
            </div>
            </div>
        </div>
        
        <div class="col-md-3" >
            <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">区域</div>
                <div class="panel-body">
                    <p>1-2</p>
                </div>            
            </div>
            </div>
        </div>  
        
        <div class="col-md-12" >
            <div class="row">
                <div class="col-md-9">
	               <div class="row" style="padding-right: 5px;">
	                   <div class="panel panel-default" style="height: 161px;">
	                       <div class="panel-heading">区域</div>
	                       <div class="panel-body">
	                           <p>3-1</p>
	                       </div>            
	                   </div>
	               </div>
	            </div>
                <div class="col-md-3">
                   <div class="row">
                       <div class="panel panel-default" style="height: 78px;">
                           <div class="panel-heading">区域</div>
                           <div class="panel-body">
                               <p>3-1-1</p>
                           </div>            
                       </div>
                   </div>
                   <div class="row">
                       <div class="panel panel-default" style="height: 78px;">
                           <div class="panel-heading">区域</div>
                           <div class="panel-body">
                               <p>3-1-2</p>
                           </div>            
                       </div>
                   </div>                   
                </div>	            
            </div>            
        </div>  
        
        <div class="col-md-6">
            <div class="row" style="padding-right: 5px;">
            <div class="panel panel-default">
                <div class="panel-heading">区域</div>
                <div class="panel-body">
                    <p>4-1</p>
                </div>            
            </div>
            </div>
        </div> 
        
        <div class="col-md-6">
            <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">区域</div>
                <div class="panel-body">
                    <p>4-2</p>
                </div>            
            </div>
            </div>
        </div>                         
             
        <!-- js -->		
		<script type="text/javascript" th:inline="javascript">
			$(document).ready(function() {

			}(jQuery));	
		</script>		
	</div>
</body>
</html>